@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,italic,600,600italic,700,700italic);

body,
html,
#root,
.app,
.content {
  font-family: "Source Sans Pro", sans-serif;
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888888;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: #555555;
}
